<div class="site-footer">
				<div id="footer-widgets" class="site footer-widgets">
				<div class="footer-widgets-container grid-container">
					<div class="inside-footer-widgets">
							<div class="footer-widget-1">{{FOOTER_1}}	</div>
		<div class="footer-widget-2">{{FOOTER_2}}	</div>
		<div class="footer-widget-3">{{FOOTER_3}}	</div>
						</div>
				</div>
			</div>
					<footer class="site-info" aria-label="Site"  itemtype="https://schema.org/WPFooter" itemscope>
			<div class="inside-site-info grid-container">
								<div class="copyright-bar">
					Copyright Social Europe Publishing &amp; Consulting GmbH 2026				</div>
			</div>
		</footer>
		</div>