<div class="site-footer">
				<div id="footer-widgets" class="site footer-widgets">
				<div class="footer-widgets-container grid-container">
					<div class="inside-footer-widgets">
							<div class="footer-widget-1">
		<aside id="block-20" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/mission-statement" target="_blank" rel="noreferrer noopener">Our Mission</a></p>
</aside><aside id="block-21" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/team">People</a></p>
</aside><aside id="block-22" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/article-submission" target="_blank" rel="noreferrer noopener">Article Submission</a></p>
</aside><aside id="block-23" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/advertise-on-social-europe">Advertisements</a></p>
</aside><aside id="block-24" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://steadyhq.com/en/socialeurope/about">Membership</a></p>
</aside>	</div>
		<div class="footer-widget-2">
		<aside id="block-31" class="widget inner-padding widget_block">
<div>
<div>
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/category/politics">Politics Archive</a></p>
</div>
</div>
</aside><aside id="block-16" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/category/economy">Economy Archive</a></p>
</aside><aside id="block-17" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/category/society">Society Archive</a></p>
</aside><aside id="block-41" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/transparency-notice">Transparency Notice</a></p>
</aside><aside id="block-42" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/photo-credits">Photo Credits</a></p>
</aside>	</div>
		<div class="footer-widget-3">
		<aside id="block-26" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/feed">RSS Feed</a></p>
</aside><aside id="block-27" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/legal-disclosure" target="_blank" rel="noreferrer noopener">Legal Disclosure</a></p>
</aside><aside id="block-28" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/privacy-policy" target="_blank" rel="noreferrer noopener">Privacy Policy</a></p>
</aside><aside id="block-29" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph"><a href="https://www.socialeurope.eu/copyright-2" target="_blank" rel="noreferrer noopener">Copyright</a></p>
</aside><aside id="block-30" class="widget inner-padding widget_block widget_text">
<p class="wp-block-paragraph">Social Europe ISSN 2628-7641</p>
</aside>	</div>
						</div>
				</div>
			</div>
					<footer class="site-info" aria-label="Site"  itemtype="https://schema.org/WPFooter" itemscope>
			<div class="inside-site-info grid-container">
								<div class="copyright-bar">
					Copyright Social Europe Publishing &amp; Consulting GmbH 2026				</div>
			</div>
		</footer>
		</div>