<script id="generate-a11y">
!function(){"use strict";if("querySelector"in document&&"addEventListener"in window){var e=document.body;e.addEventListener("pointerdown",(function(){e.classList.add("using-mouse")}),{passive:!0}),e.addEventListener("keydown",(function(){e.classList.remove("using-mouse")}),{passive:!0})}}();
</script>
<script id="generate-offside-js-extra">
var offSide = {"side":"left"};
//# sourceURL=generate-offside-js-extra
</script>
<script id="generate-menu-js-before">
var generatepressMenu = {"toggleOpenedSubMenus":true,"openSubMenuLabel":"Open Submenu","closeSubMenuLabel":"Close Submenu"};
//# sourceURL=generate-menu-js-before
</script>