<div style="height:25px" aria-hidden="true" class="wp-block-spacer"></div>



<h4 class="wp-block-heading">New publications by our partners Harvard University Press</h4>



<figure class="wp-block-image size-large"><a href="https://go.socialeurope.eu/HUP-banner"><picture><source srcset="/se/img/partner-banner.webp" type="image/webp"><img src="/se/img/partner-banner.jpg" height="200" width="750" class="wp-image-89373 sp-no-webp" alt="Harvard University Press – find your next great read: browse the latest releases" fetchpriority="high" decoding="async" style="object-fit:cover"  > </picture></a></figure>