<nav id="generate-slideout-menu" class="main-navigation slideout-navigation" itemtype="https://schema.org/SiteNavigationElement" itemscope>
			<div class="inside-navigation grid-container grid-parent">
				<div class="main-nav"><ul id="menu-primary-navigation-1" class=" slideout-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49497"><a href="https://ebooks.socialeurope.eu">eBooks</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68018"><a target="_blank" href="https://newsletter.socialeurope.eu/">Newsletter</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76480"><a target="_blank" href="https://steadyhq.com/en/socialeurope/about">Membership</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90195"><a href="https://www.socialeurope.eu/advertise-on-social-europe">Advertisements</a></li>
</ul></div>			</div><!-- .inside-navigation -->
		</nav>